		/*			ALL BODY ELEMENTS*/
		* {
			margin: 0;
			font-family: 'Merryweather';
		}

		html {
			background-image: url(../assets/497417.jpg);
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
			background-attachment: fixed;
		}

		/*		SCROLL BAR*/

		#style-2::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
			background-color: rgba(250, 250, 250, 0.2);
		}

		#style-2::-webkit-scrollbar {
			width: 10px;
			background-color: rgba(250, 250, 250, 0.2);
		}

		#style-2::-webkit-scrollbar-thumb {
			width: 10px;
			-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
			/*			background-color: rgba(25, 71, 95);*/
			background-color: rgba(0, 0, 0, .3);
		}

		/*		NAVBAR*/
		.company {
			display: block;
			position: absolute;
			top: 10px;
			left: 10px;
			font-size: 40px;
			color: white;
		}

		.navbarmenu {
			font-weight: bolder;
			position: fixed;
			top: 0px;
			width: 100%;
			background-color: rgba(25, 71, 95, 1);
			color: greenyellow;
			height: 70px;
			z-index: 100;
		}

		.navbarmenu ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			list-style-type: none;
		}

		.navbarmenu ul li {
			display: block;
			padding: 23px;
			font-size: 20px;
		}

		.navbarmenu ul li:focus {
			background-color: black;
		}

		.navbarmenu ul li:hover {
			background-color: rgba(25, 40, 50, 1);
		}

		.navbarmenu ul a {
			text-decoration: none;
			color: whitesmoke;
		}

		/*		CATEGORY DROPDOWN*/
		.dropdown-content {
			display: none;
			position: absolute;
			background-color: rgba(25, 40, 50, 1);
			min-width: 160px;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 1;
		}

		.dropdown-content a {
			color: black;
			padding: 12px 16px;
			text-decoration: none;
			display: block;
			text-align: left;
		}

		.dropdown-content a:hover {
			background-color: rgba(25, 71, 95, 1);
			transition: 0.2s;
			transform: scale(1.1)
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}

		/*				NAVBAR SOCIAL*/
		.socialmenu {
			position: fixed;
			top: 16px;
			right: 5px;
			z-index: 250;
		}

		.socialmenu ul {
			display: flex;
			justify-content: flex-end;
			list-style: none;
		}

		.socialmenu ul li {
			margin: 2px;
			margin-right: 5px;
		}

		.socialmenu ul li img {
			width: 30px;
			background-color: white;
			border-radius: 14%;
		}

		.socialmenu ul li:hover {
			transition: 0.3s;
			transform: scale(1.5);
		}


		/*		ASIDE FLEX*/
		.asideflex {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		/*		ARTICLE GRIDS	*/

		.articleGrid {
			display: grid;
			grid-gap: 0;
			margin-top: 0;
		}

		.articlegridItem2 {
			grid-row: 1/3;
			grid-column: 1/2;
			width: 450px;
			height: 93vh;
			position: sticky;
			overflow-y: scroll;
			overflow-x: hidden;
			top: 70px;
		}

		.articlegridItem3 {
			grid-row: 1/3;
			grid-column: 2/3;
			margin-top: 70px;
			background-size: cover;
		}

		/*		ARTICLE CARDS*/
		.card {
			display: flex;
			margin-top: 75px;
		}

		aside div:first-child {
			font-size: 40px;
			color: whitesmoke;
		}

		aside article {
			width: 300px;
			height: 420px;
		}

		aside article img {
			width: 300px;
		}

		aside article h2 {
			margin-bottom: 10px;
			color: whitesmoke;
		}

		aside article p {
			text-align: left;
			color: whitesmoke;
		}

		aside article a {
			font-size: 18px;
			text-align: center;
			text-decoration: none;
		}

		aside article a:hover {
			text-decoration: underline;
			color: whitesmoke;
		}

		/*		MAIN CONTENT*/
		.main {
			width: 1300px;
			text-align: center;
			color: antiquewhite;
		}

		.main div:not(div:first-child) {
			font-size: 16px;
			color: antiquewhite;
			margin-bottom: 100px;
		}

		.main div:first-child {
			width: 1300px;
			font-size: 60px;
			margin-top: 100px;
			margin-bottom: -100px;
		}

		main h1 {
			margin: 200px auto 0;
			width: 600px;
			font-size: 35px;
		}

		main figure {
			margin-top: 80px;
		}

		main img {
			width: 900px
		}

		main article p {
			text-align: center;
			width: 650px;
			margin: 50px auto;
			font-size: 18px;
			word-spacing: 7px;
			text-align: center;
		}

		main blockquote {
			width: 650px;
			margin: auto;
			font-style: italic;
		}

		/*				FOOTER*/
		.footer {
			display: block;
			position: relative;
			margin-bottom: -300px;
			height: 300px;
			background-color: rgba(25, 71, 95, 1);
			width: 100%;
			font-size: 16px;
			color: white;
		}

		.footer a {
			text-decoration: none;
		}

		.footer a:link {
			color: white;
		}

		.footer a:visited {
			color: white;
		}

		.footer a:hover {
			text-decoration: underline;
		}

		.footer1 div {
			display: flex;
			justify-content: center;
		}

		.footer1 div div:nth-child(1) {
			/*			background-color: green;*/
			margin-right: 30px;
		}

		.footer1 div div:nth-child(1) ul {
			list-style: none;
			padding: 20px;
		}

		.footer1 div div:nth-child(1) ul li {
			padding: 5px
		}

		.footer1 div div:nth-child(2) {
			/*			background-color: blue;*/
			margin: 0 30px;
		}

		.footer1 div div:nth-child(2) ul {
			list-style: none;
			padding: 20px;
		}

		.footer1 div div:nth-child(2) ul li {
			padding: 5px
		}

		.footer1 div div:nth-child(3) {
			margin-left: 30px;
		}

		.footer1 div div:nth-child(3) ul {
			list-style: none;
			padding: 20px;
		}

		.footer1 div div:nth-child(3) ul li {
			padding: 5px
		}

		.footer2 {
			text-align: center;
			margin-top: 5px;
			margin-bottom: 8px;
		}

		.footer3 {
			display: flex;
			justify-content: space-around;
			margin-top: 5px;
			margin-bottom: 8px;
		}

		.footer3 div a {
			margin: 0 10px;
		}
